# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Logs
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db